@model Devedores.Models.Devedor

@{
    ViewData["Title"] = "Deletar";
}

<h2>@ViewData["Title"]</h2>

<h3>Você realmente deseja deletar?</h3>
<div>
    <h4>Devedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pessoa.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pessoa.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pago)
        </dd>
    </dl>

    <form asp-action="Deletar">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a lista</a>
    </form>
</div>

